<h1>Results</h1>
<p> My attempt = <%= @word.capitalize %> </p>
<p> From letters = <%= @letters %> </p>
<p> <%= @answer %> </p>
<!-- <p> <%= @result %> </p> -->
<p> <%= @answer_b %> </p>

<p> <%= link_to "Play again", '/new' %> </p>
